<launch>

    <!-- localization type: odometry, amcl, gmapping
      - odometry: Just believe the odometry. Fast, but bad for large movements.
      - amcl    : Localization algorithm, merges odometry with laser readings. Good performance.
      - gmapping: Use this to create a new map.
    -->
    <arg name="type"      default="amcl_sim"/> 

    <!-- This is the name of the map to be loaded on the map server -->
    <arg name="map_name"  default="map"/>



    <!-- launch desired localization model -->
    <include file="$(find maqui_gazebo)/launch/localization_sim/$(arg type).launch.xml">
        <arg name="map_name" value="$(arg map_name)" />
    </include>

</launch>
