<?xml version="1.0"?>
<launch>
  <arg name="launch_control_trajectory_all" default="true"/>
  <!-- <arg name="world_name" default="robocup19_home_arena"/> -->
  <!-- Load the URDF Model -->
  <include file="$(find pepper_description)/launch/pepper_upload.launch" />  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find maqui_gazebo)/worlds/$(arg world_name).world"/>-->
    <arg name="world_name" value="$(find maqui_gazebo)/worlds/amtc.world"/>
    <arg name="paused" value="true"/>
  </include>

  <!-- Call Pepper Robot Trajectory Controller -->

  <include file="$(find pepper_control)/launch/pepper_control_trajectory.launch" unless="$(arg launch_control_trajectory_all)"/>
  <include file="$(find pepper_control)/launch/pepper_control_trajectory_all.launch" if="$(arg launch_control_trajectory_all)"/>

  <include file="$(find pepper_control)/launch/pepper_control_position.launch"/>

  <!-- Spawn a robot into Gazebo -->
  <!-- x 0 y 0 z 0.84 -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -x 0 -y 0 -z 0.84 -model pepper_MP" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ns="/maqui/">
    <param name="publish_frequency" value="40" />
  </node>

</launch>
